<div class="container">
  <div style="text-align:center">
    <h1>{{ title }}</h1>
  </div>
  <form class="form-group">
    <div>
      <label for="">Operand A</label>
      <input
        type="number"
        class="form-control"
        id="operandA"
        name="operandA"
        placeholder="Operand A"
        [(ngModel)]="operandA"
      />
    </div>
    <div>
      <label for="">Operand B</label>
      <input
        type="number"
        class="form-control"
        id="operandB"
        name="operandB"
        placeholder="Operand B"
        [(ngModel)]="operandB"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="add()">Add</button>
    <button type="submit" class="btn btn-primary" (click)="subtract()">Subtract</button>
    <button type="submit" class="btn btn-primary" (click)="multiply()">Multiply</button>
    <button type="submit" class="btn btn-primary" (click)="divide()">Divide</button>
  </form>
  <p>Result: {{ result }}</p>
</div>
